<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="Data Source=10.80.6.49\SQL2017_A;Initial Catalog=DEV_CodeReview;User ID=ecommerce;Password=MetlifeVM2018"/>
	</connectionStrings>
	<appSettings>
		<add key="username" value="dotlifeteamnotify@outlook.com"/>
		<add key="password" value="N0t1f1c4t10n"/>
		<add key="name" value="Metlife code review"/>
	</appSettings>
</configuration>