<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="8Cv9EB3HwtLCXFX4W70NrSvQoFzgZ7EvdQbxDZcuvgZ3aQEUdwvDxzGCO42kNoAsABZ7yfxDpjwfmpZkwpIc6VXA9e9GJvfNfUBfsLjDChaqMZG8PN5Ob14vhGyt4UJRkVb6s37VNHfoQxLvUDXqLQ=="/>
	</connectionStrings>
	<appSettings>
		<add key="username" value="JAo+kZgSRtsDa7sT7nynDf4VFXulfMZXT4DeYiABNE8="/>
		<add key="password" value="OYm90MUVRzoeyAW3aoMkDw=="/>
		<add key="name" value="oPFapgFN3xsEMNWSX1ztxCvEMdPKgkFG"/>
	</appSettings>
</configuration>