<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="SIEVakanbhizejUUpLQu1mKBiDS08xm2IB3Y40imuhinxwvtoMVUmTWFs+9M8ppUtLz69uZmliDPn1DA9SB0qIf7PTlNr5r3W2Ns3uklSDB6rjrko7qTsTDgevzqcn7vJES30y8I4xJLACl17fjmaA=="/>
	</connectionStrings>
	<appSettings>
		<add key="username" value="gOO4g9S4Hk4g+eh7Kpjeoqi/qRH4rUHTGLhM8tFXDqU="/>
		<add key="password" value="4GcREK4/vsqTclz7Hfxb8A=="/>
		<add key="name" value="TIiOWGjGU+5Vi3uFG/G1n+QjH6tRP4rr"/>
	</appSettings>
</configuration>